<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/forEntry.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/forSprint.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/CreateNewTask.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/checkbox.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/ToDoList.styles.css" asp-append-version="true" />
    <title>@ViewData["Title"] - ToDoList</title>
    <link rel="stylesheet" href="~/ToDoList.styles.css" asp-append-version="true" />
</head>
<body>
    <main>
        @RenderBody()
    </main>
    <footer>
       <p>copyright</p>
    </footer>
</body>
</html>
