@{
    ViewData["Title"] = "Recovery password";
}
@model User
<img class="fon" src="/img/fon.jpg" alt="fon">
<div class="authorization">
    <form asp-controller="Main" asp-action="Recovery" class="form">
        <p class="form-title">Recovery your account</p>

        <div class="input-container">
            <input asp-for="email" type="email" placeholder="Enter email">
        </div>

        <button class="submit">
            Recovery
        </button>
    </form>
</div>